.detail-wrapper {
  display: flex;
  flex-direction: column;
  padding: 24px;

  button{
      margin-bottom: 24px;
      border-radius: 8px;
  }

  & > div {
    &:not(:last-child) {
      border-bottom: 1px solid #dee2ee;
    }
  }

  .detail-header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    p {
      margin: 0;
      padding-bottom: 12px;
    }

    .img-wrapper {
      img {
        width: 200px;
        height: auto;
        margin-right: 12px;
      }
    }

    .title-wrapper {

      .title {
        font-size: 18px;
        font-weight: bold;
        margin-right: 12px;
      }

      .rating {
        color: red;
        font-weight: bold;
        margin-right: 12px;
      }

      .rated {
          background-color: black;
        color: white;
        font-weight: bold;
        padding: 4px 8px;
        border-radius: 8px;
        margin-right: 12px;
      }
    }
  }

  .genre-list {
    padding: 16px 0;
    width: 100%;
  }

  .plot-list {
    padding: 16px 0;
    width: 100%;
  }
}
