.list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60%;
  padding: 12px 0;

  .title {
    flex-shrink: 0;
    font-weight: bold;
    max-width: 100%;
  }

  .content {
    font-weight: bold;
    color: #5799ef;
  }
}
