.list-wrapper {
  padding: 24px;

  .search-wrapper{
    display: flex;
    flex-direction: row;
    margin-bottom: 24px;
    align-items: center;
  }

  .content-wrapper {
    & > div{
      display: inline-block;
      width: 30%;
      margin-right: 30px;
      text-decoration: none;
      color: black;

      &:not(:last-child) {
        margin-bottom: 16px;
      }
    }
  }
}
